@import './variables.css'; 
@import './fonts.css';

body {
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--color-neutral-light);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--color-gray-dark);
	font-size: var(--font-size-md);
	line-height: 1.7;
}
main {
	max-width: var(--container-max);
	margin: auto;
	padding: var(--spacing-md)
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--color-gray-dark);
	line-height: 1.2;
}
h1 {
	font-size: var(--font-size-3xl);
}
h2 {
	font-size: var(--font-size-xl);
}
h3,h4,h5,h6 {
	font-size: var(--font-size-lg);
}

strong,
b {
	font-weight: 700;
}
a {
	color: var(--color-primary);
}
a:hover {
	color: var(--color-primary-dark);
}
p {
	margin-bottom: var(--spacing-md);
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: var(--font-size-md);
}
input {
	font-size: var(--font-size-md);
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--color-primary);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
