---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<style>
  body {
    background: var(--color-neutral);
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hi, I'm Bruna!</h1>
      <section class="hero-information">
        <p>
          I’m a UX and Product Designer with a strong foundation in research,
          cognitive neuroscience, and psychology. Currently based in Dublin,
          Ireland. I’m driven by a constant desire to create, reinvent, learn,
          and explore. I design accessible products that help people get things
          done.
        </p>
        <img src="/placeholder-2.jpg" alt="Bruna Photo" width="100%" />
      </section>
    </main>
  </body>
</html>

<style>
  .hero-information {
    display: grid;
    grid-template-columns: 1fr;
		gap: var(--spacing-md);
  }

  @media (min-width: 720px) {
    .hero-information {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(100px, auto);
      gap: var(--spacing-xl);
    }
  }
</style>
