---
import NavigationButton from './NavigationButton.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<NavigationButton href="/" variant='neutral' text="Home" />
			<NavigationButton href="/about" variant='primary' text="About Me" />
			<NavigationButton href="/education" variant='secondary' text="Education" />
			<NavigationButton href="/works" variant='tertiary' text="My Work" />
		</div>
	</nav>
</header>
<style>
	header {
		margin: auto;
		background: transparent;
		width: 100%;
		max-width: var(--container-max);
		padding: var(--spacing-md)
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		padding-top: var(--spacing-md);
		display: flex;
		justify-content: end;
	}

	nav a {
		padding: 0.5em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--color-primary);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}

		nav {
			justify-content: center;
		}
	}
</style>
