/* Custom Stylesheet */
@font-face {
    font-family: JaneAust;
    src: url("../fonts/jane/JaneAust.ttf");
}
* {
  box-sizing: border-box;
}
html { height: 100%; }
body {
    height:100%;
    min-height: 100%;
    background: #FFFFFF;
    position:relative;
    overflow: hidden;
    color:#111111;
}
nav {
    border-bottom: 3px #D02E4D solid;
}

#footer {
    height:10vh;
    width:100%;
    bottom:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}
#footer .container{
    color:white;
}
#content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    /*padding: 50px 0*/
    overflow: hidden;
}

#content #scrollableContent {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#content #scrollableContent #paddingContent {
    padding: 20px;
}

#content.page-home{
    background-image: url('../img/background-home.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: #C7CAC8;
}


.nav-item{
  margin-top: -3px;
}
.border-home.active,.border-home:hover{
  border-bottom: 3px purple solid;
}
.border-about.active,.border-about:hover{
  border-bottom: 3px #10a6b8 solid;
}
.border-method.active,.border-method:hover{
  border-bottom: 3px orange solid;
}
.border-cases.active,.border-cases:hover{
  border-bottom: 3px #42CA6D solid;
}

#logo-container {
  font-family: JaneAust;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.container{
  color:black;
}

p.narrow{
  line-height: 5rem;
}
p.super-narrow{
  line-height: 2rem;
}

.fancy-font{
  font-size: 10rem;
}
.fancy-font-small{
  font-size: 2rem;
}
.fancy-font-pink{
  color: #d02e4d;
  font-size: 10rem;
}
.valign-home {
  height: 80vh;
}

.valign-footer {
  height: 10vh;
}
